table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 10px;
}
table th, 
table td{
    padding: 6px 10px;
    text-align: center;
    border: 1px solid #ccc;
}
table th{
    background-color: #ddd;
}

.btn-logout{
    margin-top:4rem;
    padding:0.5rem 1rem;
}